*{
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    width: calc(100% - 78px);
    height: 100%;
    margin-left: 78px;
    z-index: 1;
}

.searchBar {
    z-index: 10;
    position: relative;
    width: 80%;
}

button.svelte-p509gh {
    --a: 30px;

    width: var(--a);
    height: var(--a);
    border: 2px solid #e2dddd;
    border-radius: --a;
    margin: 5px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    position: relative;
    float: left;
}

button.svelte-p509gh:hover {
    cursor: pointer;
}

input.svelte-p509gh {
    --a: 30px;

    height: var(--a);
    width: 60%;
    padding: 10px;
    border-radius: var(--a);
    outline-style: none;
    border: 2px solid #e2dddd;
    background-color: #e7e7e7;
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
}

li.svelte-p509gh, div.no-results.svelte-p509gh  {
    width: 75%;
    padding: 5px;
    font-size: 14px;
    color: rgb(26, 26, 26);
    background-color: ivory;
    border-radius: 10px;
}

ul.svelte-p509gh, div.no-results.svelte-p509gh {
    margin-left: 55px;
    width: 80%;
}

li.svelte-p509gh:hover {
    cursor: pointer;
}

.marker {
    z-index: 3;
    width: 20px;
    height: 20px;
}

.marker:hover {
    cursor: pointer;
}