* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6e6e6;
  justify-content: center;
}

.card {
  margin-left: 78px;
  padding-top: 5%;
  position: relative;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
}

.card .left {
  justify-content: center;
  text-align: center;
  color: #333;
  background-color: #e6e6e6;
  padding-top: 10px;
  padding: 25px;
}

.card .left .img {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  margin: 25px;
  margin-left: 60px;
  margin-right: 50px;
}

.card .left h4 {
  font-size: 30px;
}

.card .left p {
  padding-top: 5%;
  font-size: 20px;
}

.card .left input {
  border: none;
  margin: 10px;
  margin-top: 175px;
  background-color: #01010f;
  font-size: 25px;
  color: #efefef;
  height: 50px;
  width: 150px;
}

.card .left input:hover {
  background-color: #040422;
}