div.wrapper {
  background: #DADADA;
  position: relative;
  overflow: hidden;

  height: 100vh;
  width: 100vw;

  display: flex;
}


div.wrapper::before {
  content: "";
  position: absolute;
  height: 180%;
  width: 1800px;
  top: -95%;
  right: 1.5%;
  background-image: linear-gradient(-45deg, #11101D, 0%, #05081f 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;

  z-index: 0;
}


div.img-container {
  position: relative;

  width: 50vw;
  height: 100vh;

  display: flex;
  justify-content: center;

  z-index: 1;
}

div.img-container .senha-img {
  position: absolute;
  width: 35rem;

  bottom: -10%;
}

div.info-container {
  position: relative;

  width: 50vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 1;
}

div.info-container h1 {
  color: #FFF;
  font-size: 3.5rem;
  text-align: center;
}

div.info-container .form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

div.info-container .form-wrapper form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

div.info-container .form-wrapper form .textinput {
  width: 100%;
}

@media (max-width: 660px) {
  div.img-container { display: none; }
  div.info-container { width: 100vw; padding: 2rem; }
  div.info-container h1 { font-size: 2.5rem; }
}