.sobrenos-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2026;
}

.carousel {
  width: 80%;
  height: 80%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselInner {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.carousel-left-arrow,
.carousel-right-arrow {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  cursor: pointer;
}