#user {
    margin-left: 78px;
}

.user {
    margin-left: 78px;
    padding-top: 5%;
    position: relative;
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
}

.user .left {
    justify-content: center;
    text-align: center;
    color: #333;
    padding-top: 10px;
    padding: 25px;
}

.user .left .img {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    margin: 25px;
    margin-left: 25%;
}

.user .left .img img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.user .left h4 {
    font-size: 30px;
}

.user .left p {
    padding-top: 5%;
    font-size: 20px;
}

.user .left input {
    border: none;
    margin: 10px;
    margin-top: 175px;
    background-color: #12101f;
    font-size: 25px;
    color: #efefef;
    height: 50px;
    width: 150px;
}

.user .left input:hover {
    background-color: #161322;
}

.user .right {
    overflow-y: scroll;
    width: 65%;
    height: 560px;
    color: #efefef;
    padding: 20px;
    background: #09080f;
    border-radius: 25px;
    display: grid;
    grid-row: 30px;
    grid-template-columns: 50% 50%;
}

.user .button {
    display: box;
    margin-top: 20px;
}