#user {
    margin-left: 78px;
}

.user {
    margin-left: 78px;
    padding-top: 5%;
    position: relative;
    height: 100%;
    width: 92%;
    display: flex;
    justify-content: center;
}

.user .left {
    justify-content: center;
    text-align: center;
    color: #333;
    padding-top: 10px;
    padding: 25px;
    width: 35%;
}

.user .left .img {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    margin: 25px;
    margin-left: 25%;
}

.user .left .img img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.user .left h4 {
    font-size: 30px;
}

.user .left p {
    margin-left: 2.5rem;
    text-align: left;
    padding: 1%;
    padding-top: 5%;
    font-size: 20px;
}

.user .left input {
    display: inline;
    border: none;
    background-color: #dddcdc;
    border-radius: 10px;
    font-size: 20px;
    color: #000000;
    padding: 0.5rem;
    margin: 0.25rem;
}

.user .left input:hover {
    background-color: #cfcfcf;
}

.info-titles {
    float: left;
    width: 35%;
    padding: 1rem;
}

.info-values {
    float: right;
    width: 65%;
    padding: 1rem;
}

.user .right {
    overflow-y: scroll;
    width: 65%;
    height: 560px;
    color: #efefef;
    padding: 20px;
    background: #09080f;
    border-radius: 25px;
    display: grid;
    grid-row: 30px;
    grid-template-columns: 50% 50%;
}

.user .button {
    display: box;
    margin-top: 20px;
}