.user {
    margin-left: 78px;
    padding-top: 2.5%;
    position: relative;
    height: 100%;
    width: 92%;
    display: flex;
    justify-content: center;
}

.user .left {
    justify-content: center;
    text-align: center;
    color: #333;
    padding: 2rem;
    width: 35%;
    z-index: 2;
    position: relative;
}

#pickImg {
    display: none;
}

.user .left .img {
    border-radius: 50%;
    height: 12rem;
    width: 12rem;
    margin-inline: 25%;
    margin-bottom: 2rem;
    background-color: #09080f;
}

.user .left .img img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

#img-picking:hover {
    cursor: pointer;
}

.user .left .img #plus {
    border-radius: 50%;
    margin-top: -12rem;
    margin-inline: 25%;
    margin-bottom: 2rem;
    position: relative;
    z-index: 10;
}

.user .left h4 {
    font-size: 30px;
    font-weight: 600;
}

.user .left p {
    margin-left: 2.5rem;
    text-align: left;
    padding: 1%;
    padding-top: 5%;
    font-size: 16px;
}

.user .left input {
    display: inline;
    width: 100%;
    border: none;
    background-color: #dddcdc;
    border-radius: 10px;
    font-size: 16px;
    color: #000000;
    padding: 0.5rem;
    margin: 0.25rem;
}

.user .left input:hover {
    background-color: #cfcfcf;
}

label {
    text-align: left;
    padding: 0.75rem;
    font-size: 16px;
    display: block;
}

.info-titles {
    float: left;
    width: 30%;
    padding: 1rem;
}

.info-values {
    float: right;
    width: 70%;
    padding: 1rem;
}

.user .right {
    overflow-y: scroll;
    width: 65%;
    height: 90vh;
    color: #efefef;
    padding: 1rem;
    background: #09080f;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 33% 33%;
    gap: 2%;
}

.user .right .link {
    display: relative;
    height: 10rem;
    padding: 1rem;
}

.user .button {
    display: box;
    margin-top: 0.2rem;
}

.not-found img {
    height: 60%;
    width: fit-content;
    margin: 1rem;
}

.not-found h4 {
    font-size: 20px;
}

.not-found h1 {
    margin: 0;
    padding: 1rem;
}

.not-found {
    text-align: center;
    width: 65%;
}