.title {
    margin-left: 10rem;
    padding-top: 1rem;
    font-size: 40px;
    font-weight: bold;
    color: rgb(31, 31, 31);
}

.create p {
    padding: 0.5rem;
    font-size: large;
}

.create {
    padding: 1rem;
    margin: 8rem;
    margin-top: 1rem;
    margin-left: 10rem;
    width: 80%;
    height: calc(100vh - 6rem);
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: #1F2026;
    color: #efefef;
    box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.7), 0 32px 64px 0 rgba(0, 0, 0, 0.19);
}

.create .left {
    padding-inline: 0.5rem;
    justify-content: center;
    background-color: #1F2026;
    width: 50%;
}

.create #mapa {
    height: 80%;
    border-radius: 10px;
    width: 95%;
}

.create .right {
    padding-inline: 0.5rem;
    background-color: #1F2026;
    width: 50%;
}

.create .left select {
    width: 50%;
    height: 2rem;
    border-radius: 10px;
    border: none !important;
    display: flex !important;
    justify-content: center;
    position: relative;
    background: #16171b;
    color: #efefef;
    font-size: 16px;
    padding: 0.2rem;
}

.buttons {
    display: inline;
    width: 100%;
}

.buttons .button {
    position: relative;
    float: left;
    margin: 1rem;
    width: 40%;
}

.create #texto {
    width: 100%;
    border: none;
    border-radius: 5px;
    outline-style: none;
    padding: 1rem;
    background-color: #16171b;
    color: #efefef;
}

.create .image-upload {
    width: 100%;
    height: 50%;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

.create .image-upload img {
    height: 100%;
    width: auto;
    border-radius: 20px;
    background-color: #2b2c35;
}