.title {
    margin-left: 78px;
    padding: 1rem;
    font-size: 40px;
    font-weight: bold;
    color: rgb(31, 31, 31);
}

.create p {
    padding: 10px;
}

.create #mapa {
    height: 95%;
    border-radius: 10px;
}

.create {
    padding: 1rem;
    margin: 8rem;
    margin-top: 3rem;
    margin-left: 10rem;
    width: 80%;
    height: 34rem;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background-color: #1F2026;
    color: #efefef;
    box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.7), 0 32px 64px 0 rgba(0, 0, 0, 0.19);
}

.create .left {
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    background-color: #1F2026;
}

.create .right {
    padding: 20px;
    background-color: #1F2026;
}

.create .right select {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none !important;
    display: flex !important;
    justify-content: center;
    position: relative;
    background: #16171b;
    color: #efefef;
}

.create #texto {
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #16171b;
    color: #efefef;
}

.create #imagem {
    width: 20rem;
    height: 12rem;
}

#cancel {
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: #941D1D;
    color: #efefef;
}

#cancel:hover {
    background-color: #661717;
}

#create {
    width: 120px;
    height: 30px;
    margin-left: 4rem;
    border: none;
    border-radius: 8px;
    background-color: #47B560;
    color: #efefef;
}

#create:hover {
    background-color: #37904c;
}