.card {
    display: flex;
    width: 75%;
    height: auto;
    background: #c7c7c7;
    margin: 2.5rem;
    margin-left: 12rem;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px 2px #0e0e0e33;
}

.card .left {
    width: 50%;
    padding-left: 1%;
    padding-top: 0.5rem;
    background-color: #c7c7c7;
    float: left;
}

.card .left .message {
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
    color: #777;
    background-color: #d3d3d3;
    margin: 0.5rem;
    border-radius: 20px;
}

.card .left .message b {
    display: block;
    font-size: 20px;
    color: #262626;
    background-color: #d3d3d3;
}

.card .left .title {
    font-size: 18px;
    padding-top: 8px;
    color: #262626;
    padding-bottom: 25px;
}

.card .left .title b {
    display: block;
    font-size: 25px;
    color: #262626;
}

.card .mid {
    display: flex;
    width: 75%;
    float: left;
    background-color: #262626;
}

.card .mid .imgBx .cover {
    position: relative;
    height: 100%;
    width: fit-content;
}

.card .right {
    width: auto;
    background: #d3d3d3;
    padding-top: 1re,;
    float: left;
}

.card .right .actionBtns {
    flex-wrap: wrap;
    align-items: center;
}

.card .right .likes {
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 25px;
}

.actionBtns button {
    width: 100%;
    padding-inline: 1rem;
    text-align: center;
}

.card .right .actionBtns button {
    background-color: #d3d3d3;
}

.card .right .actionBtns img {
    max-width: 5rem;
    cursor: pointer;
}
