input {
    width: 100px;
    background-color: #f1f1f1;
    border-radius: 15px;
    border: 1px solid #e6e6e6;
    transition: width 0.25s ease-in-out;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px 15px;
}

input:focus {
    width: 500px;
    outline: none;
    background-color: #e6e6e6;
}