#postagens {
    width: calc(100% - 78px);
    margin-left: 78px;
    background-color: #e5e5e5;
}

.header h1 {
    padding-top: 2rem;
    padding-left: 12rem;
    font-size: 50px;
    color: #0a0844;
}

.header {
    display: flex;
    padding-left: 2rem;
}

.header .content {
    padding: 2rem;
    padding-left: 10rem;
    color: #5a5353;
}

.header .content .number {
    font-size: 80px;
    font-weight: bold;
    color: #0a0844;
}

.header .content .subtitle {
    font-size: 20px;
    font-weight: bold;
}

.posts {
    padding-bottom: 2.5rem;
}

.message_no_complaints {
    padding: 5rem;
    margin-left: 12rem;
    width: 75%;
}