button {
  border-radius: 30px;

  padding-inline: 3.5rem;
  padding-block: 0.55rem;

  cursor: pointer;
  text-align: center;

  min-width: 2rem;

  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.050rem;

  outline: none;
  border: none;

  margin-top: 15px;
}