button {
  border-radius: 30px;

  padding-inline: 32px;
  padding-block: 0.55rem;

  cursor: pointer;
  text-align: center;

  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.050rem;

  outline: none;
  border: none;

  margin-top: 15px;

  transition: 0.25s ease;
}

button:hover {
  filter: brightness(0.75);
}