:root {
  --bg-black: #1F2026;
  --bg-white: #DADADA;
  --bg-gray: #363841;
  --bg-red: #BB3333;
  --bg-green: #5EBB33;
  --bg-yellow: #DDE035;
  
  --font-black: #1F2026;
  --font-white: #FFFFFF;
  --font-gray: #C1C2BD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
