.user .right .info {
    background-color: #01010f;
    padding: 10px;
    height: 200px;
    width: 100%;
    border: 2px solid #101016;
}

.user .right .info h3 {
    font-size: 25px;
    padding-bottom: 5%;
}

.user .right .info h4 {
    font-size: 18px;
    padding: 5px;
}

.user .right button {
    margin-top: 25px;
}

.aa {
    margin-left: 25px;
}