.user .right .info {
    cursor: pointer;
    background-color: #0d0c16;
    padding: 0.5rem;
    border-radius: 15px;
    border: 2px solid #060514;
    position: relative;
}

.user .right .info:hover {
    background-color: #141222;
    transition: 0.3s ease;
}

.user .right .info h3 {
    font-size: 25px;
    padding-bottom: 5%;
    font-weight: 600;
}

.user .right .info h4 {
    font-size: 18px;
    padding: 5px;
    font-weight: 500;
}

.user .right button {
    margin: 0.5rem;
    margin-top: 1.25rem;
    font-weight: 600;
    font-size: 18px;
    width: calc(100% - 1rem);
}

.user .right .info .buttons {
    padding-top: 3rem;
    text-align: center;
}

.user .right .info .buttons button {
    width: 45%;
    position: relative;
    float: left;
}

.aa {
    margin-left: 1.25rem;
}