#complaint {
    z-index: 4;
    position: fixed;
    width: 30rem;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: #11101D;
    color: white;
}

.top_box {
    height: 5rem;
}

.top_box > img {
    float: left;
    height: 2.5rem;
    width: 2.5rem;
    margin: 1rem;
    margin-left: 1.75rem;
    background-color: #e6e6e6;
    border-radius: 50%;
}

.top_box > h2 {
    margin-top: 0.75rem;
    margin-left: 0.5rem;
    color: white;
    float: left;
    font-size: 20px;
    font-weight: 500;
}

.top_box > button {
    float: right;
    margin-top: 1rem;
    margin-right: 2rem;
    padding: 0;
    padding-top: 0.35rem;
    background-color: transparent;
    color: #FFFFFF;
}

.img {
    height: 15rem;
    width: 90%;
    margin-left: calc((100% - 90%) / 2);
    margin-right: calc((100% - 90%) / 2);
    background-color: #292A35;
    border-radius: 10px;
}

.img img {
    height: 100%;
    border-radius: 10px;
}

.bottom_box {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

.date {
    font-size: 26px;
    padding: 0.5rem;
}

.item {
    font-weight: 300;
    font-size: 16px;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #151424;
    border-radius: 0.5rem;
}

.item > span {
    font-weight: 500;
}

#description {
    height: 7.5rem;
}