* {
    margin: 0;
    padding: 0;
}

.filter {
    z-index: 2;
    position: relative;
    background-color: #11101D;
    color: #d3d3d3;
    font-weight: bold;
    font-size: 22px;
    margin-left: 12rem;
    border-radius: 50px;
    width: 75%;
}

.filter .option {
    display: inline-block;
    padding: 0.5rem;
    padding-left: 2rem;
    width: 50%;
    position: relative;
}

.filter .option label {
    position: relative;
    width: 25%;
}

.filter .option select {
    position: relative;
    width: 75%;
    margin: 0px;
    padding: 0.3rem;
    border: none;
    outline: none;
    background-color: #11101D;
    color: #d4d4d4;
    font-weight: bold;
    font-size: 20px;
    border-radius: 3px;
}

.filter .option select:hover {
    background-color: #24223d;
}